.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 70%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 5%
    width: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 80%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.jpg") !important
.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 40px
  padding-right: 40px
  left: -30px
  top: 8px
  width: fit-content 
.bg1
  background-color: #43A047
.bg2
  background-color: #F9A825
.bg3
  background-color: #1B5E20
.bg4
  background-color: #183461
  border-radius: 20px
.bg5
  background-color: #69300A
.bg6
  background-color: #183461
.bg7
  background-color: #F4B400
.bg8
  background-color: #F4B183
.bg9
  background-color: #90CAF9
.bg10
  background-color: #FFE082
.bg11
  background-color: #8E3B0F
.bg12
  background-color: #305729
.bg13
  background-color: #0D47A1
.bg14
  background-color: #183461
.bg15
  background-color: #A5D6A7
.img250
  width: 90%
  margin-left: auto
  display: block

.cajon.color-acento-botones 
  background-color: #69300A
.fondot1
  background-image: url('../assets/curso/Tema1/fondo1.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px) 
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.linea-tiempo-c__header__item__dot 
  background-color: #fff
  border: 3px solid #cccccc
.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #F9A825 !important
  background-color: #ffff !important
.tabs-c.color-primario .tabs-c__tab--active:before 
  border-top-color: #F9A825
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  border: 1px solid #69300a
  background-color: #69300a
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right 
  border: 2px solid #cccccc
  background-color: #69300a
.fa-angle-right 
  --fa: "\f105"
  color: white
.fa-angle-left 
  --fa: "\f104"
  color: white
.fa-check
  --fa: "\f00c"
  color: #785DC8 !important
.cajon.color-secundario 
  background-color: #90CAF9
.titulo-segundo:after 
  border-left-color: #69300A

.tarjeta-audio.color-acento-botones .tarjeta-audio__texto 
  color: #212529
  font-style: normal !important
.tarjeta--boton
  border-radius: 20px
  background-color: #0D47A1

.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover 
  background-color: #90CAF9
  p, h5
    color: #12263F !important

.acordion__accion__btn--a 
  background-color: #0D47A1 !important
.acordion .tarjeta--azul
  background-color: #F9A825 !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #90CAF9 !important

.fa-minus, .fa-subtract 
  --fa: "\f068"
  color: #fff
.fa-add, .fa-plus 
  --fa: "\2b"
  color: #fff
.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #F9A825 !important
  background-color: #ffff !important
.tabs-c.color-primario .tabs-c__tab--active:before 
  border-top-color: #F9A825
.tabs-c.color-primario .tabs-c__tab
  background-color: #F9A825 

.text-izq
  text-align: left !important

.fa-folder, .fa-folder-blank 
  --fa: "\f07b"
  color: #F4B400

.w-30
  width: 30%

.tarjeta--boton
  border-radius: 20px
  background-color: #1B5E20
.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover 
  background-color: #43A047
  p,
    color: #12263F !important